---
import Favicon from '../components/helpers/favicon.astro';

import T from '../components/js/i18n.js';

import Header from '../components/header.astro';
import How from '../components/how.astro';
import Fields from '../components/fields.astro'
import Reviews from '../components/reviews.astro'
import Portfolio from '../components/portfolio.astro'
import About from '../components/about.astro'
import Contact from '../components/vue/contact.vue'
import Footer from '../components/footer.astro';

const l = 'en'; //! IMPORTANT TO CHANGE LANGUAGE
const t = (CODE) => T(l, CODE);

const title = t('META.TITLE');
const description = t('META.DESCRIPTION');
---
<html lang="{l}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="{t('META.AUTHOR')}"/>
    <meta name="description" content="{description}">
    
    <!-- LinkedIn Meta -->
    <meta property="og:title" content="{title}"/>
    <meta property="og:image" content="/assets/ogimage.png"/>
    <meta property="og:description" content="{description}"/>
    <meta property="og:url" content="https://artur-teixeira.tech/"/>
    <meta name="author" content="{t('META.AUTHOR')}">

    <title>{title}</title>
    <Favicon />    
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/comp.css">
    <link rel="stylesheet" href="/style/fields.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DEBRCHVL82"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DEBRCHVL82');
    </script>
</head>
<body>
    <div class="full-page">
      <Header l="{l}" t="{t}" />
      <How />
      <Fields t="{t}" />
      <Reviews client:idle />
      <Portfolio client:idle />
      <About t="{t}" client:idle />
      <Contact t="{t}" />
      <Footer t="{t}" client:idle/>
    </div>
</body>
</html>
