---
import Wrapper from './helpers/wrapper.astro';

const reviews = [
    // {
    //     picUrl: 'ezequiel.jpeg', 
    //     name: 'Ezequiel Campelo', 
    //     title: 'Main Co-Owner', 
    //     companyName: 'The Camp HQ', 
    //     website: 'https://www.thecamphq.com/',
    //     content: 'XXXXXXXXXX'
    // },
    {
        picUrl: 'wilberto.jpeg', 
        name: 'Wilberto Filho', 
        title: 'Co-Founder & CEO', 
        companyName: 'Blaze Information Security', 
        website: 'https://www.blazeinfosec.com/',
        content: 'It’s awesome to work with such a competent and committed professional like Artur. He goes beyond his duties to deliver his projects, giving insightful opinions and improvement suggestions, that are backed up by his already extensive experience in delivering complex projects effortlessly.'
    },
    {
        picUrl: 'przemslaw.jpeg', 
        name: 'Przemysław Jóźkowicz ', 
        title: 'Co-Owner', 
        companyName: 'Hermes Technic', 
        website: 'https://www.hermes-technic.pl/',
        content: 'Artur Teixeira rebuilt my company\'s website in 2021 (hermes-technic.pl). Thanks to his professional guidelines regarding the shape and content, Hermes Technic\'s website has become clearer, which has resulted in greater recognition of my company among customers. I recommend cooperation with Artur Teixeira to everyone.'
    },
    // {
    //     picUrl: 'sonia.png', 
    //     name: 'Dra. Sónia Costa', 
    //     title: 'Founder & Owner', 
    //     companyName: 'Clínica Sónia Costa', 
    //     website: 'https://clinicasoniacosta.pt/',
    //     content: 'XXXXXXXXXX'
    // }
];
---
<Wrapper extraMainClasses="py-16 text-blue">
    <div class="title-comp">reviews</div>
    <div class="sub-title-comp">what they say about me</div>
    <div class="content">If you are to trust me with your hard earned money, you want to make sure I can do the job preemptively, I get it, I would do exactly the same. Feel free to read what my clients have said.</div>
    <div class="grid sm:grid-cols-2">
        {reviews.map(r => <div class="border-2 border-orange rounded-3xl p-4 m-2">
            <div class="flex mb-4">
                <img src="{`/reviews/${r.picUrl}`}" alt="{r.name}">
                <div class="self-center ml-2">
                    <div class="text-blue-dark font-bold">{r.name}</div>
                    <div class="italic">{r.title}</div>
                    <a href="{r.website}" target="_blank" rel="noopener" class="italic underline">
                        {r.companyName}
                    </a>
                </div>
            </div>
            <div>{r.content}</div>
        </div>)}
    </div>
</Wrapper>
<style>
img {
    border-radius: 100px;
    width: 80px;
    height: 80px;
}
</style>